# Ignore CSV files in a specific directory
data/FEMResults/*.csv
data/FEMResults/Weird_Data/*.csv
*.txt
Results/Plots/*
Results/Good and bad examples/*
*.bak
*.ini
max_derivative_ML (1).py
max_derivative_ML_original.py
better_deriv.py
classic_yield.py
classic_yield.py
GPs.py
faster_plot.py
classic_yield.py
__pycache__/max_derivative_ML.cpython-311.pyc
__pycache__/classic_yield.cpython-311.pyc
3dplots/test.py
3dplots/Plot3d.py
data/Microstructure*
